/*core brand colors*/
/* imported, clean up later*/
.fs-text-warning {
  color: #F05D5E; }

.fs-text-success {
  color: #51B848; }

.wrap-engagement {
  margin-top: 20px; }
  .wrap-engagement .fa-star {
    color: rgba(255, 155, 0, 0.8); }
  .wrap-engagement div.engagement {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0;
    position: relative; }
    .wrap-engagement div.engagement .pad-top {
      padding-top: 10px; }
    .wrap-engagement div.engagement:nth-child(11n+1) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+1) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #A3CD3B; }
      .wrap-engagement div.engagement:nth-child(11n+1) a.engagement:hover .icon-wrap i, .wrap-engagement div.engagement:nth-child(11n+1) .engagement-detail .icon-wrap i {
        background-color: #A3CD3B; }
    .wrap-engagement div.engagement:nth-child(11n+2) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+2) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #F47920; }
      .wrap-engagement div.engagement:nth-child(11n+2) a.engagement:hover .icon-wrap i, .wrap-engagement div.engagement:nth-child(11n+2) .engagement-detail .icon-wrap i {
        background-color: #F47920; }
    .wrap-engagement div.engagement:nth-child(11n+3) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+3) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #006a98; }
    .wrap-engagement div.engagement:nth-child(11n+3) .icon-wrap i {
      background-color: #006a98; }
    .wrap-engagement div.engagement:nth-child(11n+4) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+4) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #FABD2E; }
    .wrap-engagement div.engagement:nth-child(11n+4) .icon-wrap i {
      background-color: #FABD2E; }
    .wrap-engagement div.engagement:nth-child(11n+5) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+5) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #564138; }
    .wrap-engagement div.engagement:nth-child(11n+5) .icon-wrap i {
      background-color: #564138; }
    .wrap-engagement div.engagement:nth-child(11n+6) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+6) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #5B2333; }
    .wrap-engagement div.engagement:nth-child(11n+6) .icon-wrap i {
      background-color: #5B2333; }
    .wrap-engagement div.engagement:nth-child(11n+7) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+7) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #424B54; }
    .wrap-engagement div.engagement:nth-child(11n+7) .icon-wrap i {
      background-color: #424B54; }
    .wrap-engagement div.engagement:nth-child(11n+8) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+8) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #223127; }
    .wrap-engagement div.engagement:nth-child(11n+8) .icon-wrap i {
      background-color: #424B54; }
    .wrap-engagement div.engagement:nth-child(11n+9) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+9) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #540D6E; }
    .wrap-engagement div.engagement:nth-child(11n+9) .icon-wrap i {
      background-color: #540D6E; }
    .wrap-engagement div.engagement:nth-child(11n+10) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+10) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #F05D5E; }
    .wrap-engagement div.engagement:nth-child(11n+10) .icon-wrap i {
      background-color: #F05D5E; }
    .wrap-engagement div.engagement:nth-child(11n+11) a.engagement:hover, .wrap-engagement div.engagement:nth-child(11n+11) .engagement-detail {
      box-shadow: inset 3px 0px 0px 0px #5C415D; }
    .wrap-engagement div.engagement:nth-child(11n+11) .icon-wrap i {
      background-color: #5C415D; }
  .wrap-engagement a.engagement {
    color: #000000;
    display: block;
    padding-top: 10px;
    position: relative;
    transition: all 0.4s ease 0s; }
    .wrap-engagement a.engagement .location, .wrap-engagement a.engagement .date {
      padding-top: 5px; }
      .wrap-engagement a.engagement .location i, .wrap-engagement a.engagement .date i {
        color: #939598;
        display: inline-block;
        margin-left: -32px;
        vertical-align: middle; }
      .wrap-engagement a.engagement .location p, .wrap-engagement a.engagement .date p {
        font-size: 12px;
        color: #939598;
        padding-left: 32px;
        vertical-align: middle; }
    .wrap-engagement a.engagement:hover .handle {
      display: block; }
  .wrap-engagement .handle {
    transition: all 0.4s ease 0s;
    position: absolute;
    bottom: -16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
    width: 200px;
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    height: 16px;
    display: none;
    z-index: 9;
    font-size: 11px;
    color: #939598; }
    .wrap-engagement .handle i {
      color: #ddd; }
  .wrap-engagement .engagement-detail {
    padding: 15px 15px;
    max-height: 1500px;
    overflow: auto;
    font-size: 14px; }
    .wrap-engagement .engagement-detail h4 {
      font-size: 20px; }
    .wrap-engagement .engagement-detail .icon-wrap {
      padding-left: 40px; }
      .wrap-engagement .engagement-detail .icon-wrap i {
        margin-left: -40px;
        font-size: 24px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 40px; }
    .wrap-engagement .engagement-detail h2, .wrap-engagement .engagement-detail h4 {
      padding-bottom: 10px; }

.btn-facebook {
  background-color: #3B5999;
  color: #fffffe; }
  .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
    background: #8b9dc3;
    color: #fffffe; }
  .btn-facebook:hover {
    color: #ddd; }

.underline {
  border-bottom: 1px solid; }

.event-date {
  border: 1px solid #EEE;
  width: 50px;
  text-align: center; }
  .event-date ins {
    font-size: 30px;
    text-decoration: none;
    display: block;
    background-color: #5e5e5e;
    color: #FFF; }
  .event-date span {
    background-color: #FFF;
    color: #555;
    font-size: 10px;
    font-weight: 600;
    display: block;
    padding: 2px;
    text-transform: uppercase; }

/*# sourceMappingURL=VolunteerPortal.css.map */
