@{
    ViewBag.Title = "Home Page";
}
<section class="content">
    <div class="row" ng-controller="LayoutController">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">General Information</h3>
                </div>
                <div role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="textTitle" class="col-sm-3 control-label">Name</label>

                            <a href="#" editable-text="Host.Name">{{ Host.Name || 'Not Set' }}</a>

                        </div>
                        <div class="form-group">
                            <label for="txtdescription1" class="col-sm-3 control-label">About You</label>
                            <a href="#" editable-textarea="Host.Description" e-rows="7" e-cols="60">
                                {{ Host.Description || 'No description' }}
                            </a>

                        </div>
                        <div class="form-group">
                            <input type="file" file-model="myFile" ngf-select="onFileSelect($file)" />
                            <button ng-click="uploadFile()">upload me</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Personal Contacts</h3>
                </div>
                <div role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="textTitle" class="col-sm-3 control-label">Email</label>

                            <a href="#" editable-email="Host.Email">{{ Host.Email || 'Not Set' }}</a>

                        </div>
                        <div class="form-group">
                            <label for="txtdescription1" class="col-sm-3 control-label">Phone No.</label>

                            <a href="#" editable-text="Host.PhoneNo">{{ Host.PhoneNo || 'Not Set' }}</a>

                        </div>
                        <div class="form-group">
                            <label for="txtdescription1" class="col-sm-3 control-label">Skype Id</label>
                            <a href="#" editable-text="Host.SkypeId">{{ Host.SkypeId || 'Not Set' }}</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>